@import url('./index.css');

.projects {
    grid-column: 1 / 21;
    grid-row: 3 / 21;
    padding: 4rem 2rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
}

.backBtn__override {
    width: 130px;
    padding: 1rem !important;
}

.explore__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.explore__item {
    background: transparent;
    color: var(--light-gray);
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    transition: border 10ms ease-in;
}

.explore__item--active {
    border-bottom: 1px solid gray;
}

.projects__title {
    font-size: 1.5rem;
    color: var(--text-primary);
    margin-bottom: 1rem;
}

.projects__list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 2rem;
}

.projects__project {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bg-tertiary);
    border: 1px solid var(--border-primary);
    border-radius: 4px;
}

.project__imgWrapper {
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.project__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.project__img--desktop {
    object-fit: cover;
}

.project__website {
    display: none !important;
    position: absolute;
    top: 10px;
    right: 10px;
    background: black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project__imgWrapper:hover .project__website {
    display: block !important;
}

.project__logoWrapper {
    position: absolute;
    width: 96px;
    height: 96px;
    background: var(--bg-primary);
    border: 1px solid var(--border-primary);
    border-radius: 10px;
    transform: translate(0.8rem, -50%);
    overflow: hidden;
}
.project__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}
.project__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.project__webLinkContainer {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 12px;
    font-style: italic;
    color: var(--text-secondary);
    height: 20px;
}

.project__webLink {
    color: var(--text-secondary);
    font-size: 14px;
    font-style: normal;
}

.project__status {
    cursor: pointer;
}

.project__title {
    margin-top: 25px;
    font-size: 1.5rem;
    background: var(--bg-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project__hashtags {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.project__hashtag {
    font-size: 14px;
}

.project__description {
    height: 80px;
    font-size: 13px;
    margin-top: 0.5rem;
    color: var(--text-secondary);
}

.project__stackContainer {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-top: 1rem;
}

.project__stack {
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--light-gray);
}

.project__stackList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.project__tech {
    width: 32px;
    height: 32px;
    object-fit: cover;
    cursor: pointer;
}

.project__btnDetailsWrapper {
    align-self: flex-end;
}

.project__btnDetails {
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
    color: var(--text-primary);
    border: 1px solid var(--border-primary);
    background: var(--white);
    display: flex;
    align-items: center;
}

.project__btnDetails:hover {
    transform: scale(0.9);
    transition-duration: 0.3s;
    transition-property: transform;
}

.webapps,
.extensions,
.packages {
    margin-bottom: 2rem;
}

.certificates {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

@media (max-width: 854px) {
    .projects {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
    }
    .projects__list {
        grid-template-columns: repeat(1, 95%);
        justify-content: center;
    }
    .project__description {
        height: auto;
    }
}

@media (max-width: 425px) {
    .project__tech {
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 854px) {
    .projects__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1245px) {
    .projects__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1440px) {
    .projects__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1900px) {
    .projects__list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 2560px) {
    .projects__list {
        grid-template-columns: repeat(6, 1fr);
    }
}
