* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Schibsted Grotesk', sans-serif;
    -webkit-user-select: none;
    user-select: none;
}

:root {
    --white: #ffffff;
    --gray: gray;

    --bg-primary: #171717;
    --bg-secondary: linear-gradient(97.13deg, #e9e9e9 0%, #515151 100%);
    --bg-tertiary: #1a1a1a;

    --text-primary: #656363;
    --text-secondary: #9a9a9a;

    --border-primary: #242424;
    --border-secondary: #6563635e;

    --scroll: #e9e9e950;
    --scroll-hover: #e9e9e9;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--gray);
}

::-webkit-scrollbar-thumb {
    background: var(--scroll);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover);
}

body {
    background: var(--bg-primary);
    color: var(--white);
}

.layout {
    height: 100vh;
    background: url('../images/background.svg') no-repeat center center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
}

.navbar {
    grid-column: 1 / 21;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10% 0px calc(10% - 24px);
    border-bottom: 1px solid var(--border-secondary);
}

.navbar__logoWrap {
    width: 155px;
    height: 100%;
    display: block;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navlink,
.navlink__wrap {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-primary);
}

.navlink__wrap:hover {
    color: var(--white);
    transform: scale(1.04);
}

.navitem {
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.home__container {
    grid-column: 1 / 21;
    grid-row: 3 / 21;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.home__info {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.home__role {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--gray);
}

.home__username {
    font-size: 3.5rem;
    background: var(--bg-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home__desc {
    color: var(--text-secondary);
    line-break: anywhere;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
}

.home__btnGroup {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home__startBtn,
.backBtn {
    font-size: 16px;
    color: var(--text-secondary);
    background-color: var(--bg-tertiary);
    border: 1px solid var(--border-primary);
    padding: 24px 48px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.home__startBtn:hover,
.backBtn:hover {
    transform: scale(0.9);
    transition-duration: 0.3s;
    transition-property: transform;
}

/* Tablet */
@media (max-width: 768px) {
    .home__info {
        width: 350px;
    }

    .home__username {
        font-size: 2.5rem;
    }

    .home__desc {
        color: var(--text-secondary);
        word-wrap: break-word;
        line-break: anywhere;
    }

    .navbar__logoWrap {
        display: none;
    }
    .navbar {
        justify-content: center;
        margin: 0px 10%;
    }
}

/* Mobile large */
@media (max-width: 425px) {
    .home__role {
        font-size: 0.6rem;
    }

    .home__info {
        width: 270px;
    }

    .home__username {
        font-size: 1.25rem;
    }

    .home__desc {
        font-size: 0.8rem;
    }

    .home__startBtn {
        font-size: 12px;
        padding: 12px 48px;
    }
    .navitem {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navlink:last-child {
        order: 2;
    }

    .navlink:first-child {
        order: 1;
    }
}

/* Mobile Small */
@media (max-width: 320px) {
    .navitem,
    .home__desc {
        font-size: 0.7rem;
    }

    .home__info {
        width: 250px;
    }
}
