@import url('./index.css');

.notfound {
    grid-column: 1 / 21;
    grid-row: 3 / 21;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.notfound__message {
    font-size: 3.5rem;
    background: var(--bg-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.notfound__description {
    color: var(--text-secondary);
    word-wrap: break-word;
    line-break: anywhere;
}
