/* Reset styles and define some global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Schibsted Grotesk', sans-serif;
    -webkit-user-select: none;
    user-select: none;
    border: none;
    outline: none;
}

/* Define global CSS variables for colors and backgrounds */
:root {
    --white: #ffffff;
    --gray: gray;
    --black: black;
    --light-gray: #a6a6a6;

    --bg-primary: #171717;
    --bg-secondary: linear-gradient(97.13deg, #e9e9e9 0%, #515151 100%);
    --bg-tertiary: #1a1a1a;

    --text-primary: #656363;
    --text-secondary: #9a9a9a;

    --border-primary: #242424;
    --border-secondary: #6563635e;

    --scroll: #e9e9e950;
    --scroll-hover: #e9e9e9;
}

/* Style the scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track for scrollbar */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--gray);
}

/* Thumb for scrollbar */
::-webkit-scrollbar-thumb {
    background: var(--scroll);
    border-radius: 10px;
}

/* Thumb hover effect for scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover);
}

/* Global styles for the HTML and body elements */
html,
body {
    background: var(--bg-primary);
    color: var(--white);
    overflow: hidden;
}

/* Create a floating animation for certain elements */
.floating {
    animation: floating 3s infinite ease-in-out;
}

/* Keyframes for the floating animation */
@keyframes floating {
    from,
    to {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0, 15px);
    }
}

/* Styles for tech elements */
.tech {
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
}

/* Styles for the overall layout */
.layout {
    height: 100vh;
    background: url('../images/background.svg') no-repeat center center;
    background-size: cover;
    display: grid;
    grid-template: repeat(20, 5%) / repeat(20, 5%);
}

/* Styles for the navigation bar */
.navbar {
    grid-column: 1 / span 20;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10% 0px calc(10% - 24px);
    border-bottom: 1px solid var(--border-secondary);
}

/* Styles for the logo wrapper in the navigation bar */
.navbar__logoWrap {
    width: 155px;
    height: 100%;
    display: block;
}

/* Styles for the logo image */
.logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styles for navigation links */
.navlink,
.navlink__wrap {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-primary);
}

/* Hover effect for navigation links */
.navlink__wrap:hover {
    color: var(--white);
    transform: scale(1.04);
}

/* Styles for navigation items (list items) */
.navitem {
    font-size: 14px;
    list-style: none;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/* Styles for the home container */
.home__container {
    position: relative;
    grid-column: 1 / 21;
    grid-row: 3 / 21;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styles for the main content within the home container */
.home__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* Styles for the home information section */
.home__info {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

/* Styles for the home role text */
.home__role {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--gray);
}

/* Styles for the home username */
.home__username {
    font-size: 3.5rem;
    background: var(--bg-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Styles for the home description */
.home__desc {
    color: var(--text-secondary);
    line-break: anywhere;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    width: 546px;
    line-height: 1.6;
    font-size: 16px;
}

/* Styles for the home button group */
.home__btnGroup {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Styles for start button and back button */
.home__startBtn,
.backBtn {
    font-size: 16px;
    color: var(--text-secondary);
    background-color: var(--bg-tertiary);
    border: 1px solid var(--border-primary);
    padding: 24px 48px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Hover effect for start button and back button */
.home__startBtn:hover,
.backBtn:hover {
    transform: scale(0.9);
    transition-duration: 0.3s;
    transition-property: transform;
}

/* Media Queries */

/* Tablet */
@media (max-width: 768px) {
    .tech {
        display: none;
    }
    .home__info {
        width: 350px;
    }

    .home__username {
        font-size: 2.5rem;
    }

    .home__desc {
        color: var(--text-secondary);
        word-wrap: break-word;
        line-break: anywhere;
        width: 400px;
    }

    .navbar__logoWrap {
        display: none;
    }
    .navbar {
        justify-content: center;
        margin: 0px 10%;
    }
}

@media (max-width: 450px) {
    .home__desc {
        font-size: 0.8rem;
        width: 320px;
    }
}

/* Mobile large */
@media (max-width: 425px) {
    .home__role {
        font-size: 0.6rem;
    }

    .home__info {
        width: 270px;
    }

    .home__username {
        font-size: 1.25rem;
    }

    .home__desc {
        font-size: 0.8rem;
    }

    .home__startBtn {
        font-size: 12px;
        padding: 12px 48px;
    }
    .navitem {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navlink:last-child {
        order: 2;
    }

    .navlink:first-child {
        order: 1;
    }
}

@media (max-width: 335px) {
    .home__desc {
        width: 258px;
    }
}

/* Mobile Small */
@media (max-width: 320px) {
    .navitem {
        font-size: 0.7rem;
    }

    .home__info {
        width: 250px;
    }
}
